@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

#placeholder {
  max-width: 960px;
  margin: 0 auto;
  background-color: whitesmoke;
  box-shadow: 10px 10px 10px 15px #888888;
  border-radius: 30px;
  border: solid 2px blue;
  /* margin-top: 15px; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.creature {
  box-shadow: 5px 5px 4px 5px #888888;
  border-radius: 15px;
  width: 300px;
}

img {
  max-width: 100px;
  margin: 0 auto;
  display: block;
  border: solid 1px black;
  box-shadow: 10px 10px 8px 10px #888888;
  border-radius: 15px;
}

 h2 {
   text-align: center;
   padding: 15px;
 }

p {
  text-align: center;
  padding: 15px;
}

body {
  background-color: lightgray;
}

header {
  text-align: center;
}

h1 {
  font-family: 'Righteous', cursive;
}
